<div class="container">
  <h1>Lista de alumnos</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Promedio</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let alumno of alumnos; index as i"
        [ngClass]="alumno.top ? 'bg-info' : ''"
        [style.font-size]="alumno.top ? '18px' : '16px'"
      >
        <th scope="row">
          {{ i + 1 }}
          <span *ngIf="alumno.top">TOP</span>
        </th>
        <td>
          {{ alumno.name | uppercase }}
        </td>
        <td>
          {{ alumno.promedio | number }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
